# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Vscode
.vscode/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Spyder project settings
.spyderproject
.spyproject

# Folders to ignore
Notrack/
